<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="<?php echo base_url(); ?>css/main.css" rel="stylesheet" type="text/css">

</head>

<body style="background:#EBEBEB" onLoad="MM_preloadImages('<?php echo base_url(); ?>images/1.png')">
<div id="header">

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="80" align="center" bgcolor="#0066CC">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="<?php echo base_url(); ?>images/htlogo.png" width="414" height="80"  alt=""/></td>
            <td align="right" style="color:#ffffff">
            	杨睿，您好！［退出登录］
            </td>
          </tr>
        </table>
</td>
      </tr>
      
   </table>

<div style="background:url(<?php echo base_url(); ?>images/hr_bg.png); height:7px;"></div> 
</div>
<div id="main">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#F7F7F7">
    	
       	  
          <table width="900" border="0" align="center" cellpadding="0" cellspacing="0" style="color:#666">
              <tr>
                <td valign="middle">
                <form action="<?php echo site_url(); ?>/user/update_info_03" method="post" >
                <h2 class="h2_title">第三步：请填写近两年出国（境）行程，若无请留空。</h2>
                
                <table width="700" border="0" align="left" cellpadding="0" cellspacing="0">
                
                  <tr>
                    <td width="40" height="40" align="center">序</td>
                    <td width="80" align="center">出行时间（如：20120304）</td>
                    <td width="90" align="center">目的地</td>
                    <td width="60" align="center">个人游或组团游</td>
                  </tr>
                  <tr>
                    <td height="40" align="center">1</td>
                    <td align="center"><input name="SCSJ1" type="text" class="input_form" id="textfield" size="25"></td>
                    <td align="center"><input name="SMDD1" type="text" class="input_form" id="textfield2" size="25"></td>
                    <td align="center"><input name="CXFS1" type="text" class="input_form" id="textfield3" size="20"></td>
                  </tr>
                  <tr>
                    <td height="40" align="center">2</td>
                    <td align="center"><input name="SCSJ2" type="text" class="input_form" id="textfield" size="25"></td>
                    <td align="center"><input name="SMDD2" type="text" class="input_form" id="textfield2" size="25"></td>
                    <td align="center"><input name="CXFS2" type="text" class="input_form" id="textfield3" size="20"></td>
                  </tr>
                  <tr>
                    <td height="40" align="center">3</td>
                    <td align="center"><input name="SCSJ3" type="text" class="input_form" id="textfield" size="25"></td>
                    <td align="center"><input name="SMDD3" type="text" class="input_form" id="textfield2" size="25"></td>
                    <td align="center"><input name="CXFS3" type="text" class="input_form" id="textfield3" size="20"></td>
                  </tr>
                  <tr>
                    <td height="60" align="center">&nbsp;</td>
                    <td height="60" align="left"><input type="submit" class="button_red" value="提 交" /></td>
                    <td align="center">&nbsp;</td>
                    <td align="center">&nbsp;</td>
                  </tr>
                </table>
                </form></td>
              </tr>
            </table>
    		
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
    </td>
    </tr>
</table>
	
</div>
<div id="footer">
	<p class="foot_text">汕头出入境边防检查总站&nbsp;&nbsp;&nbsp;
    任何疑问联系总站政治处：88383026</p>
</div>

</body>
</html>
