<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="<?php echo base_url(); ?>css/main.css" rel="stylesheet" type="text/css">
<link href="<?php echo base_url(); ?>images/gray_form.css" rel="stylesheet" type="text/css">
</head>

<body style="background:#EBEBEB" onLoad="MM_preloadImages('<?php echo base_url(); ?>images/1.png')">
<div id="header">

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="80" align="center" bgcolor="#0066CC">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="<?php echo base_url(); ?>images/htlogo.png" width="414" height="80"  alt=""/></td>
            <td align="right" style="color:#ffffff">
            	杨睿，您好！［退出登录］
            </td>
          </tr>
        </table>
</td>
      </tr>
      
   </table>

<div style="background:url(<?php echo base_url(); ?>images/hr_bg.png); height:7px;"></div> 
</div>
<div class="article">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" bgcolor="#F7F7F7">
    	<div class="basic-grey900" align="left">
        	<h1>正在办理的证件列表<span>请点击记录查看详情并进行相应操作</span>
            </h1>
          <table width="100%" border="1" bordercolor="#E4E4E4" cellspacing="0" cellpadding="0" class="list-table">
              <tr align="center">
                <td width="40" height="40" bgcolor="#F7F7F7">序号</td>
                <td bgcolor="#F7F7F7">类型</td>
                <td bgcolor="#F7F7F7">时间</td>
                <td bgcolor="#F7F7F7">操作</td>
              </tr>
              <tr align="center">
                <td height="40">1</td>
                <td align="left" style="padding-left:10px">新办普通护照</td>
                <td>2016-05-01</td>
                <td>查看</td>
            </tr>
          </table>
    	</div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table>
    </td>
    </tr>
</table>
	
</div>
<div id="footer">
	<p class="foot_text">汕头出入境边防检查总站&nbsp;&nbsp;&nbsp;
    任何疑问联系总站政治处：88383026</p>
</div>

</body>
</html>
