<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="<?php echo base_url(); ?>css/main.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body style="background:#EBEBEB" onLoad="MM_preloadImages('<?php echo base_url(); ?>images/1.png')">
<div id="header">

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="80" align="center" bgcolor="#0066CC">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="<?php echo base_url(); ?>images/htlogo.png" width="414" height="80"  alt=""/></td>
            <td align="right" style="color:#ffffff">
            	杨睿，您好！［退出登录］
            </td>
          </tr>
        </table>
</td>
      </tr>
      
   </table>

<div style="background:url(<?php echo base_url(); ?>images/hr_bg.png); height:7px;"></div> 
</div>
<div id="main" >
	
	
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="<?php echo site_url().'/apply/bl01'; ?>" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image1','','<?php echo base_url(); ?>images/l1h.png',1)"><img src="<?php echo base_url(); ?>images/l1.png" alt="" width="235" height="300" id="Image1"></a></td>
        <td width="20">&nbsp;</td>
        <td><a href="<?php echo site_url().'/apply/bl02'; ?>" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image2','','<?php echo base_url(); ?>images/l2h.png',1)"><img src="<?php echo base_url(); ?>images/l2.png" alt="" width="235" height="300" id="Image2"></a></td>
        <td width="20">&nbsp;</td>
        <td><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image3','','<?php echo base_url(); ?>images/l3h.png',1)"><img src="<?php echo base_url(); ?>images/l3.png" alt="" width="235" height="300" id="Image3"></a></td>
        <td width="20">&nbsp;</td>
        <td><a href="#" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image4','','<?php echo base_url(); ?>images/l4h.png',1)"><img src="<?php echo base_url(); ?>images/l4.png" alt="" width="235" height="300" id="Image4"></a></td>
      </tr>
    </table>
    
</div>
<div id="footer">
	<p class="foot_text">汕头出入境边防检查总站&nbsp;&nbsp;&nbsp;
    任何疑问联系总站政治处：88383026</p>
</div>

</body>
</html>
