<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="<?php echo base_url(); ?>/css/main.css" rel="stylesheet" type="text/css">
<link href="<?php echo base_url(); ?>images/gray_form.css" rel="stylesheet" type="text/css">
</head>

<body style="background:#EBEBEB" onLoad="MM_preloadImages('<?php echo base_url(); ?>images/1.png')">
<div id="header">

	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="80" align="center" bgcolor="#0066CC">
        <table width="1000" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><img src="<?php echo base_url(); ?>images/htlogo.png" width="414" height="80"  alt=""/></td>
            <td align="right" style="color:#ffffff">
            	杨睿，您好！［退出登录］
            </td>
          </tr>
        </table>
</td>
      </tr>
      
   </table>

<div style="background:url(<?php echo base_url(); ?>images/hr_bg.png); height:7px;"></div> 
</div>
<div class="article">
    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" bgcolor="#F7F7F7">
    	<div class="basic-grey" align="center">
        	<h1>办理证件须知
            <span>当你提交申请时意味着你知晓并同意遵守以下规定</span>
            </h1>
        </div>
    </td>
    <td width="500" bgcolor="#FFFFFF">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td valign="middle">
                <form action="" method="post" class="basic-grey">
            <h1>证件办理申请
            <span>请如实填写以下所有选项</span>
            </h1>
            <label>
            <span>姓名 :</span>
            <input id="name" type="text" name="YHXM" placeholder="填写您的姓名" />
            </label>
            <label>
            <span>性别 :</span><select name="selection">
            <option value="男">男</option>
            <option value="女">女</option>
            </select>
            </label>
            <label>
            <span>出生年月 :</span>
            <input id="name" type="text" name="CSNY" placeholder="出生年月（如：19901010）" />
            </label>
            <label>
            <span>参加工作 :</span>
            <input id="name" type="text" name="name" placeholder="请填写您参加工作的时间" />
            </label>
            <label>
            <span>工作单位 :</span>
            <input id="name" type="text" name="name" placeholder="请填写您当前的工作单位" />
            </label>
            <label>
            <span>职务职级 :</span>
            <input id="name" type="text" name="name" placeholder="请填写您的职务或级别" />
            </label>
            <label>
            <span>办理类型 :</span>
            <input type="checkbox">普通护照&nbsp;&nbsp;&nbsp;
            <input type="checkbox">港澳通行证&nbsp;&nbsp;&nbsp;
            <input type="checkbox">台湾通行证	
            
            
            </label>
            <label>
            <p></p>
            <span>&nbsp;</span>
            <input type="button" class="button" value="提交申请" />
            </label>
            </form> 
                </td>
              </tr>
            </table>
    </td>
  </tr>
</table>
	
</div>
<div id="footer">
	<p class="foot_text">汕头出入境边防检查总站&nbsp;&nbsp;&nbsp;
    任何疑问联系总站政治处：88383026</p>
</div>

</body>
</html>
