<!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Link</a></li>                    
                    <li class="active">Active</li>
                </ul>
                <!-- END BREADCRUMB -->                
                
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> 领取证件确认</h2>
                </div>                   
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    <div class="row">
                        <div class="col-md-8">

                                <!-- START DEFAULT FORM ELEMENTS -->
                                <div class="block">
                                    <!-- <h4>主要信息</h4> -->
                                    <form class="form-horizontal" role="form">                                    
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">申请类型</label>
                                            <div class="col-md-4">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio1" disabled checked="checked"/> 提前办理签证（注），办完需归还证件</label>
                                            </div>
                                            <div class="col-md-4">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio1" disabled/> 办理后直接出行</label>
                                            </div>
                                        
                                       </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">目的地</label>
                                            <div class="col-md-10">
                                                <input type="text" class="form-control" readonly value="日本"/>
                                            </div>
                                        </div> 
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">出行事由</label>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio2" disabled checked="checked"/> 旅游</label>
                                            </div>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio2" disabled/> 探亲</label>
                                            </div>
                                        
                                       </div>
                                       <div class="form-group">
                                            <label class="col-md-2 control-label">出行方式</label>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio" disabled checked="checked"/> 旅行社组团</label>
                                            </div>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio" disabled/> 个人前往</label>
                                            </div>
                                        
                                       </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">拟出发日期</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" value="20160103" readonly/>
                                            </div>
                                            <label class="col-md-2 control-label" >拟归来日期</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" value="20160108" readonly/>
                                            </div>
                                            <label class="col-md-2 control-label" >共［ 5 ］天</label>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">假期类型</label>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio3" disabled checked="checked"/> 年休假</label>
                                            </div>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio3" disabled/> 探亲假</label>
                                            </div>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio3" disabled /> 婚假</label>
                                            </div>
                                            <div class="col-md-2">                                    
                                                <label class="check"><input type="radio" class="iradio" name="iradio3" disabled/> 丧假</label>
                                            </div>
                                        
                                       </div>
                                       <div class="form-group">
                                            <label class="col-md-2 control-label">批复扫描件</label>
                                            <label class="col-md-1 control-label"><a href="/images/sm/1.jpg">查 看</a></label>
                                            
                                        </div>
                                        
                                                                           
                                    </form>
                                </div>
                                <!-- END DEFAULT FORM ELEMENTS -->

                        </div>

                        <div class="col-md-3">
                            <!-- CONTACT ITEM -->
                            <div class="panel panel-default">
                                <div class="panel-body profile">
                                    <div class="profile-image">
                                        <img src="assets/images/users/user3.jpg" alt="Nadia Ali"/>
                                    </div>
                                    <div class="profile-data">
                                        <div class="profile-data-name">刘涛（052445）</div>
                                        <div class="profile-data-title">潮汕机场站执勤一队（副队长）</div>
                                        <div class="profile-data-title">13344545545</div>
                                    </div>
                                    <!-- <div class="profile-controls">
                                        <a href="#" class="profile-control-left"><span class="fa fa-info"></span></a>
                                        <a href="#" class="profile-control-right"><span class="fa fa-phone"></span></a>
                                    </div> -->
                                </div>                                
                                                               
                            </div>
                            <!-- END CONTACT ITEM -->
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h3>领取时间</h3>
                                    <div class="form-group">
                                        
                                        <input type="text" class="form-control" placeholder="请填写证件领取时间">
                                    </div>                          
                                </div>
                                <div class="panel-footer">
                                    
                                    <button class="btn btn-success pull-right"> 提交</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <!-- START BORDERED TABLE SAMPLE -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">辅助资料</h3>
                                    </div>
                                    <div class="panel-body">
                                        <h4>近两年出国（境）情况</h4>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>出国（境）时间</th>
                                                    <th>目的地</th>
                                                    <th>出行方式</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>2015-01-03</td>
                                                    <td>香港</td>
                                                    <td>个人</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>2014-10-19</td>
                                                    <td>泰国</td>
                                                    <td>组团</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>2014-07-01</td>
                                                    <td>澳门</td>
                                                    <td>组团</td>
                                                </tr>
                                            </tbody>
                                        </table>                                
                                    </div>

                                    <div class="panel-body">
                                        <h4>家庭成员及主要社会关系基本情况</h4>
                                        <table class="table table-bordered" >
                                            <thead>
                                                <tr>
                                                    <th>序号</th>
                                                    <th>关系</th>
                                                    <th>姓名</th>
                                                    <th>年龄</th>
                                                    <th>政治面貌</th>
                                                    <th>工作单位及职务</th>
                                                    <th>是否同行</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>父子</td>
                                                    <td>刘能</td>
                                                    <td>43</td>
                                                    <td>中共党员</td>
                                                    <td>山东省公安厅副厅长</td>
                                                    <td>是</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>母子</td>
                                                    <td>李晟</td>
                                                    <td>41</td>
                                                    <td>中共党员</td>
                                                    <td>待业</td>
                                                    <td>否</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>兄妹</td>
                                                    <td>刘文</td>
                                                    <td>16</td>
                                                    <td>共青团员</td>
                                                    <td>学生</td>
                                                    <td>是</td>
                                                </tr>
                                            </tbody>
                                        </table>                                
                                    </div>
                                </div>
                                <!-- END BORDERED TABLE SAMPLE -->

                        </div>

                    </div>
                
                </div>
                <!-- END PAGE CONTENT WRAPPER -->  